In [1]:
import polars as pl
import time
import random
from typing import List
from pandas.core.frame import DataFrame
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.options.display.float_format = '{:,.2f}'.format
import phik
from phik import resources, report
    
import warnings
warnings.filterwarnings('ignore')

In [2]:
# ====================DUPLICATES CHECK====================

def duplicates_check(df: DataFrame, df_name: str) -> DataFrame:
    """Checks if there are any duplicated values in the dataframe and removes them.
    Input: df(DataFrame), df_name(name of the DataFrame)
    Returns: df"""
    
    print('-'*100)
    print(f"{df_name} had {df.shape[0]- df.drop_duplicates().shape[0]} rows removed")
    print('-'*100)
    return df.drop_duplicates()

# ====================REDUCING MEMORY USAGE====================

def reduce_memory_usage(df: DataFrame) -> DataFrame:
    """Reduced memory usage by downcasting datatype of columns.
    Input: DataFrame
    Output: DataFrame"""

    for column in df:
        if df[column].dtype == "float64":
             df[column]=pd.to_numeric(df[column], downcast="float")
        if df[column].dtype == "int64":
            df[column]=pd.to_numeric(df[column], downcast="integer")
    print(df.info())
    return df

# ====================TARGET DISTRIBUTION====================

def pie_plot(df: DataFrame, col_name: str, labels: List) -> None:
    """Plots a pie chart of distribution of chosen column."""
    
    # Data to plot
    plot_data = df[col_name].value_counts() / df.shape[0]
    
    # Pie plot
    plt.title(f"Pie chart of {col_name} variable")
    plt.pie(plot_data, labels=labels, labeldistance=1.15, 
            wedgeprops= { 'linewidth' : 3, 'edgecolor' : 'white' }, autopct='%1.1f%%')
    
# ====================ASSIGN COLUMNS TO DATA TYPE====================

def get_object_columns(df: DataFrame, target_name: str) -> List:
    """Gets all features which categorical features of object type from the dataset.
    Parameters: df (DataFrame), target_name (name of the target column)
    Returns: list of names of categorical columns of object type"""
    
    # Make a list
    obj_col = df.select_dtypes(include='O').columns.to_list()
    # Check if target column in list
    if target_name in obj_col:
        obj_col.remove(target_name)
    # Return the list
    return obj_col

def get_cat_encoded_columns(df: DataFrame, target_name: str) -> List:
    """Gets all categorical features which are 0-1 encoded.
    Parameteres: df (DataFrame), target_name (name of the target column)
    Returns: list of names of columns of categorical encoded features"""
    
    # Initialize the list
    encoded_col = []
    # Check if columns values in 0 and 1
    for col in df.columns:
        if set([0 , 1]).issuperset(df[col].dropna()):
            encoded_col.append(col)
    # Checks if target column in list      
    if target_name in encoded_col:
        encoded_col.remove(target_name)
    #  Return the list of encoded columns     
    return encoded_col

def get_num_col(df: DataFrame, encoded_col: List, target_name: str, ordinal_col: List) -> List:
    """Gets numerical continuous column names from the dataset.
    Parameters: df (DataFrame), encoded_col (list of categorical 
    values encoded to 0-1, target_name (name of target colum),
    ordinal_col (list of ordinally encoded variables)
    Returns: list of numerical continuous values."""
    
    # Make a list of all numerical values
    num_col = df.select_dtypes(exclude='O').columns.to_list()
    # Remove encoded categorical columns
    num_col = [col for col in num_col if col not in encoded_col]
    # Checks if target column in list      
    if target_name in num_col:
        num_col.remove(target_name)
    num_col = [x for x in num_col if x not in ordinal_col]
    # Return numerical continuous list
    return num_col

# ====================STATISTICAL CORRELATIONS CHECK WITH TARGET====================

def corr_check_num_cat(df: DataFrame, target_name: str, numerical_col: List) -> List:
    """Calculates p_value for anova test to check if the numerical variables are correlated
    with target. If p_value is less then significance level 0.05 rejcts the null hypothesis 
    that variables are not correlated. 
    Paramteres: df (DataFrame), target_name (name of the target column as str), 
    numerical_col (list of numerical continuous columns).
    Returns a list of potentially correlated columns."""
    
    from scipy.stats import f_oneway
    
    # Go through all variables and append results
    p_values = []
    for col in numerical_col:
        category_group_list = df[[col, target_name]].dropna().groupby(col)[target_name].apply(list)
        anova = f_oneway(*category_group_list)
        p_values.append(anova[1])
    anova_df = pd.DataFrame({'column_name': numerical_col, 'p_value': p_values}).sort_values(by='p_value')
    # List of column names where we can reject the null hypothesis 
    # that the variables are not correlated with each other
    corr_col = anova_df[anova_df["p_value"] < 0.05]['column_name'].to_list()
    # Prints columns that are correlated with target
    print('-'*100)
    print(f'The columns that are correlated with target column: {corr_col}')
    print('-'*100)
    # Return the list of correlated columns
    return corr_col

def corr_check_cat_cat(df: DataFrame, target_name:str, cat_col: List) -> List:
    """Performs Chi_Sq test for two categorical variables and finds
    the probability of null hypothesis.
    H0: The two columns are NOT related to each other
    alpha: 0.05
    Parameters: df (DataFrame), target_name (name of target column as str),
    cat_col (list of all categorical columns)
    Returns: a list of potentially correlated columns.
    """
    from scipy.stats import chi2_contingency

    # Go through all variables and append results
    p_values = []
    for col in cat_col:
        cross_result = pd.crosstab(index=df[col], columns=df[target_name])
        chi_square = chi2_contingency(cross_result)
        p_values.append(chi_square[1])
    # DataFrame with p_values and names of columns
    chi_square_df = pd.DataFrame({'column_name': cat_col, 'p_value': p_values}).sort_values(by='p_value')
    # List of column names where we can reject the null hypothesis that the variables are not correlated with each other
    corr_col = chi_square_df[chi_square_df["p_value"] < 0.05]['column_name'].to_list()
    # Print out the names of columns correlated with target
    print('-'*100)
    print(f'The columns that are correlated with target column: {corr_col}')
    print('-'*100)
    # Return correlated columns
    return corr_col

# ====================CORRELATIONS BETWEEN NUMERICAL FEATURES====================

def magnify() -> List:
    '''Function that magnifies clicked value in DataFrame.'''
    return [dict(selector="th",
                 props=[("font-size", "7pt")]),
            dict(selector="td",
                 props=[('padding', "0em 0em")]),
            dict(selector="th:hover",
                 props=[("font-size", "12pt")]),
            dict(selector="tr:hover td:hover",
                 props=[('max-width', '200px'),
                        ('font-size', '12pt')])]

def high_corr_background(cell_value: any) -> str:
    '''Assigns background of the cell based on the value. 
    Highlights highly correlated columns with correlation 
    higher than 0.7 to red, lower than -0.7 to blue and 
    1 to green.'''
    
    # Set the colors
    highlight_positive = 'background-color: red'
    highlight_negative = 'background-color: blue'
    default = 'background-color: white'
    onces = 'background-color: green'
    
    # Conditions
    if type(cell_value) in [float, int]:
        if (cell_value>=0.7 and cell_value<1.0):
            return highlight_positive
        elif cell_value <=-0.7:
            return highlight_negative
        elif cell_value == 1.0:
            return onces
    return default

def pearson_corr_df(df: DataFrame) -> None:
    '''Calculates Pearson correlations between numerical features.
    Displays styled dataframes for visual clarity of correlations.'''
    
    for n in range(1, df.shape[1]//10+1):
        corr = df.corr().iloc[:, (n-1)*10:n*10]
        display(corr.style.applymap(high_corr_background)\
        .format(precision=2)\
        .set_properties(**{'max-width': '60px', 'font-size': '8pt'})\
        .set_caption("Pearson correaltions of numerical columns")\
        .set_table_styles(magnify()))
        
# ====================TOP CORRELATED FEATURES WITH TARGET====================

def target_top_corr(df: DataFrame, target_name: str, columns: List, number_of_corr_col: int=10, numerical: bool=True) -> DataFrame:
    '''
    Returns DataFrame with top correlated features with the target columns.
    Paramteres: df (DataFrame), columns (list of columns to inspect),
    target_name (name of target column as str),
    num_of_corr_col (number of columns correlated with the target as int),
    numerical (if the data is continuous as boolean value)
    Returns: DataFrame with most correllated columns.
    '''

    # Calculating phick, spearman and pearson correlations of continuous variables with target 
    if numerical: 
        # Initializing list of values
        phik_values = []
        spearman_values = []
        pearson_values = []
        for column in columns:
            # Appending values of correlations
            df_check = df[[target_name, column]]
            phik_values.append(df_check.phik_matrix(interval_cols=[target_name, column]).iloc[0,1])
            spearman_values.append(df_check.corr(method='spearman').iloc[0, 1])
            pearson_values.append(df_check.corr().iloc[0, 1])
        # Building dataframe 
        top_phik_corr = pd.DataFrame({#'column_name': columns, 
                                  'phik_correlation' : phik_values,
                                  'spearman_correlation': spearman_values,
                                 'pearson_correlation': pearson_values}, index=columns)
        top_phik_corr = top_phik_corr.sort_values(by = 'phik_correlation', ascending = False)
        return top_phik_corr.iloc[:number_of_corr_col]
    
    # Calculating the phik correlations of categorical variables with target 
    else:
        col = columns + [target_name]
        data_for_phik = df[col].astype('object')
        phik_matrix = data_for_phik.phik_matrix()
        return (phik_matrix[target_name].sort_values(ascending=False).to_frame()
                .rename(columns={target_name: 'phik_correlation'}).iloc[1:number_of_corr_col+1])
    
# ====================PLOTTING CONTINUOUS VARIABLES====================

def plot_num(df: DataFrame, target_name: str, num_columns: List, labels: List) -> None:
    """Plots boxplots and ecdfplot of numerical columns in regards to target column.
    Parameteres: df (DataFrame), target_name (name of target column as str),
    num_columns (numerical columns for plotting), labels (list of labels)
    Returns: None
    """
    
    # Calculate the number of rows
    rows = len(num_columns)
     
    # Plot numerical features over target
    fig, ax = plt.subplots(rows, 2, figsize=(18, rows*4), tight_layout=True)
    fig.suptitle("Numerical features vs target", fontweight="bold", y=1.00, fontsize=14)
    x = [0, 1]
    for i in range(rows):
        for j in range(2):
            col = num_columns[i]
            if j == 0:
                # Plot boxplot
                sns.boxplot(data=df[[target_name, col]].dropna(), x=target_name, y=col, ax=ax[i, j])
                ax[i, j].set_title(f"{col} vs {target_name} boxplot", fontsize=10, fontweight='bold')
                ax[i, j].set_xticks(x, labels)
                ax[i, j].set_xlabel("")
            else:
                # Plot kde
                sns.kdeplot(data=df[[target_name, col]].dropna(), x=col, hue=target_name, common_norm=False, ax=ax[i, j])
                ax[i, j].set_title(f"{col} vs {target_name} kde ", fontsize=10, fontweight='bold')
                ax[i, j].legend(labels[::-1])

# ====================PLOTTING CATEGORICAL VARIABLES====================

def plot_cat_bars(df: DataFrame, target_name: str, categorical_columns: List) -> None:
    """Plots bars for all categorical features in dataframe
    in relation to target variable as two column subplots.
    Paramteres: df (DataFrame), target_name (name of the target column as str),
    categorical_columns (list of names of categorical columns"""
    
    import math
    
    # Calculate the number of rows
    rows = math.ceil(len(categorical_columns)/2)
     
    # Plot categories over target
    fig, ax = plt.subplots(rows, 2, figsize=(18, rows*4), tight_layout=True)
    fig.suptitle("Categorical features vs target", fontweight="bold", y=1.00, fontsize=14)

    for i in range(rows):
        for j in range(2):
            if (i*2+j) < len(categorical_columns):
                col = categorical_columns[i * 2 + j]
                # Perapare data to plot
                df_plot = pd.crosstab(df[col], df[target_name]).apply(
                    lambda x: round(x / sum(x) * 100, 2), axis=0
                )
                # Plot data
                df_plot.plot(kind="bar", ax=ax[i, j])
                # Add bar labels
                ax[i, j].bar_label(
                    ax[i, j].containers[0],
                    fmt="%.0f%%",
                    padding=5,
                    size=7,
                    color="black",
                    fontweight="bold",
                )
                ax[i, j].bar_label(
                    ax[i, j].containers[1],
                    fmt="%.0f%%",
                    padding=4,
                    size=7,
                    color="black",
                    fontweight="bold",
                )
                ax[i, j].set_yticks([])
                ax[i, j].set_xticklabels(ax[i, j].get_xticklabels(), rotation=90, size=8)
                ax[i, j].set_xlabel("")
                ax[i, j].set_title(f"{col} vs {target_name}", fontsize=10, fontweight='bold')
                ax[i, j].legend()
                ax[i, j].get_legend().remove()
                sns.despine(left=True)
    # Remove unused axes
    if rows*2 != len(categorical_columns):
        fig.delaxes(ax[rows-1, 1])
    # Add legend
    fig.legend(labels=[0, 1], title=target_name, bbox_to_anchor=(1.05, 0.90));
    
# ====================PLOTTING MISSING VALUES====================

def plot_missing(df: DataFrame, df_name: str) -> None:
    """Plots bar graph with percentages of missing values in the dataframe."""

    nr_col_nan = (df.isna().sum(axis=0) > 0).sum()
    print('-'*100)
    print(f"Number of columns in {df_name}: {df.shape[1]} columns")
    print(f"Number of columns with missing values in {df_name}: {nr_col_nan} columns")
    print('-'*100)
    # Data to plot
    plot_data = (df.isnull().mean().reset_index().rename(columns={'index': 'column', 0: 'fraction'})
    .sort_values(by='fraction', ascending=False)[:nr_col_nan])
    # Plotting the Bar-Plot for NaN percentages 
    plt.figure(figsize = (20, 8), tight_layout = True)
    sns.barplot(x='column', y='fraction', data=plot_data )
    plt.xticks(rotation = 90)
    plt.xlabel("")
    plt.title(f'Fraction of NaN values in {df_name}')

# EDA

This process will take a couple of steps for each set of data:

1) Loading data using pandas
2) Reducing memory usage by custom encoding for each dataset, checking for duplicates and using reduce_memory_usage function
3) Splitting data to analyse only train data
4) Inspecting distribution of target
5) Categorizing columns based on type of data
6) EDA of continuous features:
* checking significance of correlations with target with anova test, 
* removing multicollinear features,
* checking correlations with target using phik, spearman and pearson correlation
* checking for missing values in features with highiest correlations
* plotting a number of features with highiest correlations, making conclusions
6) EDA of categorical variables: 
* checking significance of correlations with target with chi-square test, 
* removing features that are correlated with each other based on spearman correlation,
* checking correlations with phik test,
* plotting a number of features with highiest correlations.

## application_train.csv
### Loading data

In [3]:
df = pd.read_csv('application_train.csv')
df.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,"202,500.00","406,597.50","24,700.50","351,000.00",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.02,-9461,-637,"-3,648.00",-2120,NaN,1,1,0,1,1,0,Laborers,1.00,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.08,0.26,0.14,0.02,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.63,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,reg oper account,block of flats,0.01,"Stone, brick",No,2.00,2.00,2.00,2.00,"-1,134.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
1,100003,0,Cash loans,F,N,N,0,"270,000.00","1,293,502.50","35,698.50","1,129,500.00",Family,State servant,Higher education,Married,House / apartment,0.00,-16765,-1188,"-1,186.00",-291,NaN,1,1,0,1,1,0,Core staff,2.00,1,1,MONDAY,11,0,0,0,0,0,0,School,0.31,0.62,NaN,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.05,0.00,0.01,0.09,0.05,0.99,0.80,0.05,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.00,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.01,reg oper account,block of flats,0.07,Block,No,1.00,0.00,1.00,0.00,-828.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00

Let's check the information about the data.

In [4]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

(None, (307511, 122))

The application data has 307,511 entries and 122 columns. 

Let's reduce the space the data takes.

### Reducing memory usage

* checking for duplicates
* using design function to reduce the datatype
* encoding low cardinality categorical columns

In [ ]:
duplicates_check(df, 'application_train.csv')

----------------------------------------------------------------------------------------------------
application_train.csv had 0 rows removed
----------------------------------------------------------------------------------------------------

In [ ]:
# Calling function to reduce the memory usage
df = reduce_memory_usage(df)

By minimizing the data type we were able to reduce the size of dataframe by more than half.

Now let's reduce the data size even further by checking which categorical columns could be encoded to numbers.

In [ ]:
# Categorical columns that are of object type
object_col = get_object_columns(df, 'TARGET')

for col in object_col:
    print(f'{col}: {df[col].unique()}')

TODO:
* replace 'XNA' with np.nan
* reduce the categories in organization type
* replace yes, y to 1, replace no, n to 0

In [ ]:
def organization_replacer(value: any) -> any:
    """Reduces the number of unique values 
    where there are subcategories with ':' sign"""
    
    if value not in [np.nan, None]:
        x = value.split()[0]
        if x[-1] ==":":
            return x[:-1]
    return value

def yes_no_replacer(value: str) -> int:
    """Encodes yes, no columns to 0 and 1"""
    if value is ['Y', 'Yes']:
        return 1
    elif value in ['N', 'No']:
        return 0
    
# Replace yes no
yes_no_col = ['FLAG_OWN_CAR', 'EMERGENCYSTATE_MODE', 'FLAG_OWN_REALTY']
for col in yes_no_col :
    df[col] = df[col].map(yes_no_replacer)

# Replace 'XNA'
df.replace({'XNA': np.nan}, inplace=True)

# Replace organization
df['ORGANIZATION_TYPE'] = df['ORGANIZATION_TYPE'].map(organization_replacer)

### Splitting data

In [ ]:
from sklearn.model_selection import train_test_split
# Get features and target
X = df.drop('TARGET', axis=1)
y = df['TARGET']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100, stratify=y)

# Get the data for eda
df_eda = pd.merge(X_train, y_train, left_index=True, right_index=True)
df_eda = df_eda.drop('SK_ID_CURR', axis=1)

In [ ]:
df_eda.shape

### Plotting distribution of target variable

In [ ]:
pie_plot(df_eda, 'TARGET', ['non-defaulters', 'defaulters'])

### Categorizing columns based on type of data

In [ ]:
# Categorical columns that are of object type
object_col = get_object_columns(df_eda, 'TARGET')

# Categorical ordinal columns
ordinal_col = ['REGION_RATING_CLIENT']

# Categorical features that are encoded
encoded_col = get_cat_encoded_columns(df_eda, 'TARGET')

# All categorical features
cat_col = object_col + encoded_col + ordinal_col

# Numerical continuous variables
num_col = get_num_col(df_eda, encoded_col, 'TARGET', ordinal_col)

In [ ]:
assert len(cat_col) + len(num_col) == df_eda.shape[1] - 1, "The condition is not true"

### EDA of continuous features

#### Checking significance of correlations with target with anova test

In [ ]:
# Getting columns that are correlated with target 
numerical_corr = corr_check_num_cat(df_eda, 'TARGET', num_col)

In [ ]:
print(f'Number of numerical columns that are not correlated with target: {len(num_col) - len(numerical_corr)}')

#### Inspecting and removing multicollinear features

In [ ]:
# Displaying Pearson correlations between numerical features correlated to target variable
df_pearson = df_eda[numerical_corr]
pearson_corr_df(df_pearson)

Looking at the correlations between numerical features we see correlations:
1) AMT_GOODS_PRICE - AMT_ANNUITY - AMT_CREDIT
2) REGION_RATING_CLIENT_W_CITY - REGION_RATING_CLIENT
3) AMT_ANNUITY - AMT_CREDIT
4) DEF_30_CNT_SOCIAL_CIRCLE - DEF_60_CNT_SOCIAL_CIRCLE
5) FLOORSMAX_MODE - FLOORSMAX_MEDI - FLOORSMIN_MODE - FLOORSMIN_MEDI - FLOORSMAX_AVG - FLOORSMIN_AVG
6) FLOORSMAX_MEDI - FLOORSMIN_MODE - FLOORSMIN_MEDI - FLOORSMAX_AVG - FLOORSMIN_AVG
7) CNT_CHILDREN - CNT_FAMILY_MEMBERS
8) ELEVATORS_MODE - ELEVATORS_MEDI - ELEVATORS_AVG
9) FLOORSMIN_MODE - FLOORSMIN_MEDI - FLOORSMIN_AVG - FLOORSMAX_AVG
10) ELEVATORS_MEDI - ELEVATORS_AVG
11) FLOORSMIN_MEDI - FLOORSMAX_AVG - FLOORSMIN_AVG
12) ENTRANCES_MEDI - ENTRANCES_MODE
13) FLOORSMAX_AVG - FLOORSMIN_AVG
14) YEARS_BEGINEXPLUATATION_MODE - YEARS_BEGINXPLUATATION_MEDI - YEARS_BEGINXPLUATATION_AVG
15) YEARS_BUILD_MODE - YEARS_BUILD_MEDI - YEARS_BUILD_AVG
16) YEARS_BUILD_MEDI - YEARS_BUILD_AVG
17) YEARS_BEGINXPLUATATION_MEDI - YEARS_BEGINXPLUATATION_AVG
18) OBS_60_CNT_SOCIAL_CIRCLE - OBS_30_CNT_SOCIAL_CIRCLE


As we need to remove multicolinear features we will remove columns: 
['AMT_GOODS_PRICE', 'REGION_RATING_CLIENT_W_CITY',  'FLOORSMIN_AVG', 'FLOORSMIN_MODE', 'FLOORSMAX_AVG', 'FLOORSMAX_MODE', 'ELEVATORS_MODE', 'ELEVATORS_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'CNT_FAM_MEMBERS', 'FLOORSMIN_MEDI', 'ENTRANCES_MODE']

In [ ]:
# Getting names of multicollinear features
multicollinear_features = ['AMT_GOODS_PRICE', 'REGION_RATING_CLIENT_W_CITY', 'FLOORSMIN_AVG', 'FLOORSMIN_MODE',
                           'FLOORSMAX_AVG', 'FLOORSMAX_MODE', 'ELEVATORS_MODE', 'ELEVATORS_AVG',
                           'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'YEARS_BUILD_MODE',
                           'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'CNT_FAM_MEMBERS', 'FLOORSMIN_MEDI', 'ENTRANCES_MODE', 'AMT_ANNUITY']

# Getting numerical features that are correlated to the target but not with each other
numerical = [i for i in numerical_corr if i not in multicollinear_features]

#### Checking correlations with target using phik, spearman and pearson correlation

In [ ]:
df_corr_num = target_top_corr(df_eda, 'TARGET', numerical)
df_corr_num

In [ ]:
# Getting numbers
num_col_plot = df_corr_num.index.to_list()

#### Displaying meaning of numerical columns with highiest correlelations to target

In [ ]:
names = pd.read_csv("HomeCredit_columns_description.csv", encoding='Latin-1', index_col=0)
num_col_plot.append('TARGET')
names.loc[(names['Table']=='application_{train|test}.csv')&(names['Row'].isin(num_col_plot))][['Row', 'Description', 'Special']]

#### Checking for missing values in features with highiest correlations

In [ ]:
plot_missing(df_eda[num_col_plot], 'Missing values in numerical columns with highiest correlation to target')

The factions of missing values in features that are correlated to target are more than 0.2 for 4 features. OWN_CAR_AGE and EXT_SOURCE_1 have more than 50% missing values.

#### Plotting continuous variables which are correlated with the target

In [ ]:
plot_num(df_eda, 'TARGET', num_col_plot, ['non-defaulters', 'defaulters'])

Observations:
* Average normalized scores from external data source for defaulters are lower than for non-defaulters by more than 0.1 of normalized values.
* Distribution of populations where the client lives shows skewedness toward more populated areas for both defaulters and non-defaulters. Proportionally defaulters live in less populated areas than non-defaulters.
* Distribution for both defaulters and non defaulters of amount of credit is skewed toward highier values with the average of 0.5 mln. The tail of distribution for non defaulters is thicker.
* As there is more non-defaulters we would expect more observations of defaulted by 60 days past due day from surrounding. One client has 24 people in the surrounding that defaulted in last 60 days in realtion to application. 
* The average age of owned car is lower for non-defaulters. Some clients have over 60 years old cars.
* Standard deviation of median of the maximal number of floors is highier for defaulters.
* The distribution of time for defaulters and non-defaulters was comparable.
* Non-defaulters had more outliers with high number of children under care.
* Distribution of number of elevator has thicker tail for defaulters in comparison with non-defaultes.
* In the last year before the application defaulters had more enquiries  to Credit Bureau on average.
* Defaulters are on average younger, had their ID replaced later and their last phone changed later than non-defaulters.

### EDA of categorical variables: 
* checking significance of correlations with target with chi-square test, 
* removing features that are correlated with each other based on spearman correlation,
* checking correlations with phik test,
* plotting a number of features with highiest correlations.

#### Checking significance of correlations with target with chi-square test

In [ ]:
# Getting categorical features that are correlated to the target
categorical = corr_check_cat_cat(df_eda, 'TARGET', cat_col)

In [ ]:
print(f"The number of categorical features that weren't correlated with the target: {len(cat_col) - len(categorical)}")

#### Removing features that are correlated with each other based on Spearman correlation

Now let's check which categorical features can be easily encoded. For this reason we will check the unique values of columns correlated to target.

In [ ]:
# Checking the correlations between categorical features
sns.heatmap(df_eda[categorical].corr(method='spearman'))
plt.title("Correlations between categorical variables", fontweight='bold', y=1.01);

We can see that some of the features are correlated with each other. Tne columns to consider are: REG_CITY_NOT_WORK_CITY and REG_CITY_NOT_LIVE_CITY. Let's remove the latest from the categorical columns list.

In [ ]:
categorical.remove('REG_CITY_NOT_LIVE_CITY')

#### Checking correlations with phik test

In [ ]:
df_corr_cat = target_top_corr(df_eda, 'TARGET', categorical, numerical=False)
df_corr_cat

In [ ]:
cat_col_plot = df_corr_cat.index.to_list()

#### Displaying meaning of categorical columns with highiest correlations to target

In [ ]:
cat_col_plot.append('TARGET')
names.loc[(names['Table']=='application_{train|test}.csv')&(names['Row'].isin(cat_col_plot))][['Row', 'Description', 'Special']]

#### Checking for missing values in features with highiest correlations

In [ ]:
plot_missing(df_eda[cat_col_plot], 'Missing values in categorical columns with highiest correlation to target')

#### Plotting categorical features with highiest correlation vs target variable

In [ ]:
plot_cat_bars(df_eda, 'TARGET', cat_col_plot)

Observations:
* There are more defaulters among self-employed and business entry type 3. This column may be important in predicting in someone may have problems with credit repayment. 
* There are more defaulters in occupations like laborers, sales staff, drivers but less in occupations like medicine staff, managers, core staff and high skill tech staff.
* People with income from working default more than pensioners, state_servants and commercial associate.
* Clients from region with rating 3 default more than from regions with rating 1 and 2.
* People with lower level of education default more often.
* Fraction of male is highier in defaulting group which may suggest that the probability for defaulting for male is highier. More females take credits.
* More defaulters are flagged with permanent address not matching work address at the city level. They may commute to work, not being able to live in a city with highier life expences.
* More defaulters gave their employment phone where one of the theories could be their avoidance in contacting them.
* Defualters has been flagged more often as the once where permanent address and the city they lived in was different.
* More defaulters provided document 3 in comparison with non-defaulters.
* Singles and clients in civil marriage defaulted more often than married and widowed. Married were taking the credits most often.
* Clients taht live with parents or rent are more prone to default in comparison with people who live in house or appartment. The highiest number of loans were given to people with living in the house.
* More people who lived in different city than worked were defaulting although tha majority of people living in the same place were given the credits.
* Cash loans were more risky for the bank than revolving loans.
* Document 6 was delivered less often by defaulters.
* Defaulters provided their phone number less often.
* Defaulters had a car less often than non-defaulters. Most clients don't own a car.
* People living in accomodation made of wood, stone and brick defaulted more than from other materials.
* People who were living unaccompanied were more likely to default. They were also the majority of clients.
* Most defaulters didn't own a flat or house.